@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
body {
    font-family: 'Rubik', sans-serif;
}
.movie {
    text-align: center;
    margin-top: 29px;
    cursor: pointer;
    font-size: 25px;
}
label {
    width: 75px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    line-height: 26px;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 15px;
    font-size: 18px;
}
input {
    height: 35px;
    flex: 0 0 200px;
    border-radius: 4px;
    background-color: #ffffff;
    width: 350px;
    font-size: 18px;
    border: 1px solid #2c2c2c;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
#player {
    display: block;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    margin-left: auto;
    margin-right: auto;
}
#btn {
    padding: 15px;
    border-radius: 4px;
    border: none;
    background-color: #2c2c2c;
    color: white;
}