@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
body {
    font-family: 'Rubik', sans-serif;
    background-image: url(assets/bg.svg);
    color: white;
}
button {
    cursor: pointer;
}
.search {
    text-align: center;
    margin-top: 160px;
    font-size: 25px;
}
.navMenu {
    position: absolute;
    top: 3%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.navMenu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    display: inline;
    gap: 20px;
    padding: 13px;
    width: 100px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.navMenu a:hover {
    color: rgb(24, 24, 24);
}
.menu-logo {
    display: none;
}
label {
    width: 75px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    line-height: 26px;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 15px;
    font-size: 18px;
}
input {
    height: 27px;
    flex: 0 0 200px;
    border-radius: 5px;
    background-color: #ffffff;
    width: 270px;
    font-size: 18px;
    border: 3px solid #2c2c2c;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input:focus {
    border: 3px solid #181818;
}
::placeholder {
    color: rgb(24, 24, 24);
    opacity: 1;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
}
#btn {
    padding: 8px;
    font-size: 15px;
    margin-top: -20px;
    font-family: 'Rubik', sans-serif;
    width: 70px;
    font-weight: 900;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
#btn:hover {
    transition: 0.3s;
    background-color: #222;
    color: white;
}
#copy {
    display: none;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    font-size: 15px;
    margin-top: -20px;
    font-family: 'Rubik', sans-serif;
    width: 100px;
    font-weight: 900;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}
#copy:hover {
    transition: 0.3s;
    background-color: #222;
    color: white;
}
@media only screen and (max-width: 768px) {
    .navMenu {
        z-index: 2;
        top: 120px;
        background-color: transparent;
        border-radius: 8px;
        left: 78%;
        color: #000000;
    }
    .navMenu a {
        font-size: 20px;
        padding: 11px;
        width: 100px;
    }
    .menu-logo{
        display: block;
        margin-right: 20px;
        margin-left: auto;
        width: 37px;
        margin-top: 20px;
    }
    .navMenu a {
        float: none;
        display: block;
        text-align: center;
    }
    .footer {
        bottom: 0;
    }
    .navMenu {
        overflow: hidden;
        transition: 0.5s;
    }
}